* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 100px auto;
  text-align: center;
  max-width: 1680px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.content {
}
.content li a {
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s ease;
}
.content li a:hover .hovered {
  opacity: 0.8;
}
.hovered {
  width: 200px;
  height: 100px;
  background: green;
  color: #fff;
  padding: 8px 0;
  opacity: 0;
}
.hovered h4 {
  text-align: center;
  margin-top: 10px;
}
